
<%# redundant file ;istings files not called%>

<div class="row text-center" style="display:flex; flex-wrap:wrap;">

  <% @listings.each do |listing|  %>

  <div class="card-deck">

    <div class="card" style="margin: 20px;">
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body">
        <h5 class="card-title"><%= listing.name %> </h5>
        <p class="card-text"> Description </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= listing.available_start_date.strftime("%d/%m/%Y") %> - <%= listing.available_end_date.strftime("%d/%m/%Y")%> </li>
        <li class="list-group-item">Address: <%= listing.location %> </li>
        <li class="list-group-item">City: <%= listing.city %></li>
      </ul>

      <div class="card-body">
        <a href="#" class="card-link">Book</a>
      </div>

      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>

    </div>

  </div>
  <% end %>

</div>
<%# listings %>

