<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @user %>

    <h2 id="welcome-message-user">
    <%= "Welcome #{@user.first_name}" %>
     <button id="listing" name = "listing" class="button">Add Listing</button>
    <button id="signout" name = "signout" class="button">Sign out</button>
    </h2>

    <% else %>

    <h2 id="welcome-general">
    <%= "Welcome to MakersBNB"%>
    <button id="signup" name = "signout" class="button">Sign up</button>
    <button id="login_page" name = "login" class="button">Log in</button>
    </h2>
  <% end%>

<br>
<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log(start.format('YYYY-MM-DD'))
    console.log(end.format('YYYY-MM-DD'))
  });
});
</script>
 <div class="form">
<h3>Book a space</h3>
 <div class="intend-dates">
  <p>Your travel dates:</p>
  <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
</div>
</div>
<br>

  <% @listings.each do |listing| %>
  <ul>
  <li> <%= listing.name %></li>
  <li> Start Date <%= listing.available_start_date %></li>
  <li> End Date: <%= listing.available_end_date %></li>
  <li> Location: <%= listing.location %></li>
  </ul>
 
 
  
 
  <%end%>
  </body>
</html>

