<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Approve this booking?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>

    <div class="form">

      <h1 id="requestMessage"><%=@guest[:name]%> requested your place for <%=@request[:start_date]%></h1>

      <p id="listingLocation">This space is in <%=@listing[:location]%>, <%=@listing[:city]%></p>

      <p id="listingDescription"><%=@listing[:description]%></p>

      <p>Would you like to approve this booking?</p>

      <div class="form">
        <button type="button" id="approve" name="approve" class="button button-block">
          Approve
        </button>
      </div>

      <div class="form">
        <button type="button" id="decline" name="decline" class="button button-block">
          Decline
        </button>
      </div>

      <input type="hidden" id="requestID" value="<%=@request_.id%>">
      <input type="hidden" id="userID" value="<%=@user.id%>">

    </div>

  </body>

</html>
